<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cameron Cooper</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/img/favicon-16x16.png">
    <link rel="manifest" href="/public/img/site.webmanifest">
    <meta name="title" content="Cameron Cooper">
    <meta name="description" content="Cameron Cooper's online portfolio">
    <meta name="keywords" content="Freelance, portfolio, developer, nodejs developer, java developer, python developer">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="14 days">
    <meta name="author" content="Cameron Cooper">
    <meta property="og:title" content="Cameron Cooper">
    <meta property="og:site_name" content="Cameron Cooper Portfolio">
    <meta property="og:url" content="https://cameroncooper.co">
    <meta property="og:description" content="Cameron Cooper's online portfolio">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://cameroncooper.co/public/img/headshot.png">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>