{{> header }}
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-gray-50">
    <div class="relative bg-white shadow">
        <div class="max-w-7xl mx-auto px-4 md:block hidden sm:px-6">
            <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
                <div class="flex justify-start lg:w-0 lg:flex-1">
                </div>
                <nav class="hidden md:flex space-x-10">
                    <a href="/"
                        class="text-base font-medium text-gray-500 underline hover:text-gray-900 hover:underline">
                        Home
                    </a>
                    <a href="/public/assets/cameron-cooper-resume.pdf"
                        class="text-base font-medium text-gray-500 hover:text-gray-900 hover:underline">
                        Resume
                    </a>
                    <a href="/#projects"
                        class="text-base font-medium text-gray-500 hover:text-gray-900 hover:underline">
                        Projects
                    </a>
                    <a href="https://github.com/cameronwc/"
                        class="text-base font-medium text-gray-500 hover:text-gray-900 hover:underline">
                        Github
                    </a>
                    <a href="https://www.linkedin.com/in/cameronwc"
                        class="text-base font-medium text-gray-500 hover:text-gray-900 hover:underline">
                        Linkedin
                    </a>
                    <a href="/photography"
                        class="text-base font-medium text-gray-500 hover:text-gray-900 hover:underline">
                        Photography
                    </a>
                </nav>
                <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
                    <a href="mailto:cameron.w.cooper@gmail.com"
                        class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-blue-600 hover:bg-blue-700">
                        Contact
                    </a>
                </div>
            </div>
        </div>

        <main class="lg:relative">
            <div class="mx-auto max-w-7xl w-full pt-16 pb-20 text-center lg:py-48 lg:text-left">
                <div class="px-4 lg:w-1/2 sm:px-8 xl:pr-16">
                    <h1
                        class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl">
                        <span class="block xl:inline">My name is</span>
                        <span class="block text-blue-600 xl:inline">Cameron</span>
                    </h1>
                    <p class="mt-3 max-w-md mx-auto text-lg text-gray-500 sm:text-xl md:mt-5 md:max-w-3xl">
                        I am a security engineer in Denver. I mostly conduct security reviews, develop applications,
                        and pentest. </br></br>My last position I worked as a Senior Security Engineer leading the
                        CVS Health/Aetna Health Security Operations team where I supported over 3000 engineers and
                        maintained security for all CVS Health/Aetna Health products.
                    </p>
                    <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
                        <div class="rounded-md shadow">
                            <a href="assets/cameron-cooper-resume.pdf"
                                class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 md:py-4 md:text-lg md:px-10">
                                Resume
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                                </svg>
                            </a>
                        </div>
                        <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
                            <a href="#projects"
                                class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-blue-600 bg-white hover:bg-gray-50 md:py-4 md:text-lg md:px-10">
                                Read More <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 14l-7 7m0 0l-7-7m7 7V3" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="relative w-5/12 h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:h-full md:block hidden">
                <img class="absolute inset-0 w-full h-full object-cover" src="public/img/Headshot.jpg" alt="">
            </div>
        </main>
    </div>
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div id="projects" class="relative bg-gray-50 pt-16 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
        <div class="absolute inset-0">
            <div class="bg-white h-1/3 sm:h-2/3"></div>
        </div>
        <div class="relative max-w-7xl mx-auto">
            <div class="text-center">
                <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
                    Some things I do
                </h2>
                <p class="mt-3 max-w-2xl mx-auto text-xl text-gray-500 sm:mt-4">
                    3 of my favorite things to do. From working on my business to creating hacking tools and
                    websites that ease my life you can always find me creating.
                </p>
            </div>
            <div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
                <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
                    <div class="flex-shrink-0">
                        <img class="h-48 w-full object-cover"
                            src="https://images.unsplash.com/photo-1548502499-ef49e8cf98d4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=Mnw1MjQxNHwwfDF8c2VhcmNofDd8fHBob3RvZ3JhcGh5fGVufDB8fHx8MTYyMDY5NjQ3Ng&ixlib=rb-1.2.1&auto=format&fit=crop&w=1679&q=80"
                            alt="">
                    </div>
                    <div class="flex-1 bg-white p-6 flex flex-col justify-between">
                        <div class="flex-1">
                            <p class="text-sm font-medium text-blue-600">
                                <a href="https://foss.photography/" class="hover:underline">
                                    ReactJS, NodeJS, ExpressJS, Heroku
                                </a>
                            </p>
                            <a href="https://foss.photography/" class="block mt-2">
                                <p class="text-xl font-semibold text-gray-900">
                                    FOSS Photography
                                </p>
                                <p class="mt-3 text-base text-gray-500">
                                    An opensource picture aggregator with a RESTful API.
                                    I developed this application and API to help myself find high quality
                                    opensource images for my clients and personal projects.
                                </p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
                    <div class="flex-shrink-0">
                        <img class="h-48 w-full object-cover"
                            src="https://images.unsplash.com/photo-1561070791-2526d30994b5?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=Mnw1MjQxNHwwfDF8c2VhcmNofDV8fGRlc2lnbnxlbnwwfHx8fDE2MjA2OTY1NzU&ixlib=rb-1.2.1&auto=format&fit=crop&w=1679&q=80"
                            alt="">
                    </div>
                    <div class="flex-1 bg-white p-6 flex flex-col justify-between">
                        <div class="flex-1">
                            <p class="text-sm font-medium text-blue-600">
                                <a href="https://formulated.design/" class="hover:underline">
                                    HTML5, CSS, NodeJS, ExpressJS, SEO, AWS
                                </a>
                            </p>
                            <a href="https://formulated.design/" class="block mt-2">
                                <p class="text-xl font-semibold text-gray-900">
                                    Formulated Design
                                </p>
                                <p class="mt-3 text-base text-gray-500">
                                    My personal LLC, through this I work with clients from all over America
                                    to create compelling web presences, secure applications, and contract.
                                </p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
                    <div class="flex-shrink-0">
                        <img class="h-48 w-full object-cover"
                            src="https://images.unsplash.com/photo-1568332339712-fa479d5494fa?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cmFzcGJlcnJ5JTIwcGl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1679&q=80"
                            alt="">
                    </div>
                    <div class="flex-1 bg-white p-6 flex flex-col justify-between">
                        <div class="flex-1">
                            <p class="text-sm font-medium text-blue-600">
                                <a href="https://github.com/trentgillis/deauth-detector" class="hover:underline">
                                    Python, Node, React, MongoDB, Bash, Aircrack-ng
                                </a>
                            </p>
                            <a href="https://github.com/trentgillis/deauth-detector" class="block mt-2">
                                <p class="text-xl font-semibold text-gray-900">
                                    Deauthentication Detector
                                </p>
                                <p class="mt-3 text-base text-gray-500">
                                    A project a peer and I worked on together. This react application can run on a
                                    raspberry pi and alert the user to deauthentication attacks occuring around
                                    them.
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="bg-white">
        <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
            <p class="text-center text-base font-semibold uppercase text-gray-600 tracking-wider">
                Main skills
            </p>
            <div class="mt-6 grid grid-cols-4 gap-0.5 md:grid-cols-4 lg:mt-8">
                <div class="col-span-1 flex justify-center py-4 px-4 bg-gray-50">
                    <img class="max-h-10" src="public/img/zap.png" alt="zap">
                </div>
                <div class="col-span-1 flex justify-center py-4 px-4 bg-gray-50">
                    <img class="max-h-10" src="public/img/prisma-cloud-logo.png" alt="Prisma Cloud Compute">
                </div>
                <div class="col-span-1 flex justify-center py-4 px-4 bg-gray-50">
                    <img class="max-h-10" src="public/img/datatheorem.png" alt="Data Theorem">
                </div>
                <div class="col-span-1 flex justify-center py-4 px-4 bg-gray-50">
                    <img class="max-h-10" src="public/img/snyk.png" alt="Snyk">
                </div>
                <div class="col-span-1 flex justify-center py-4 px-4 bg-gray-50">
                    <img class="max-h-10" src="public/img/checkmarx.png" alt="Checkmarx">
                </div>
                <div class="col-span-1 flex justify-center py-4 px-4 bg-gray-50">
                    <img class="max-h-10" src="public/img/fortify.png" alt="Fortify">
                </div>
                <div class="col-span-1 flex justify-center py-4 px-4 bg-gray-50">
                    <img class="max-h-10" src="public/img/docker.png" alt="Docker">
                </div>
                <div class="col-span-1 flex justify-center py-4 px-4 bg-gray-50">
                    <img class="max-h-10" src="public/img/python.png" alt="Python">
                </div>
                <div class="col-span-1 flex justify-center py-4 px-4 bg-gray-50">
                    <img class="max-h-10" src="public/img/django-dark.png" alt="Django">
                </div>
                <div class="col-span-1 flex justify-center py-4 px-4 bg-gray-50">
                    <img class="max-h-10" src="public/img/nodejs.png" alt="Nodejs">
                </div>
                <div class="col-span-1 flex justify-center py-4 px-4 bg-gray-50">
                    <img class="max-h-10" src="public/img/react.png" alt="React">
                </div>
                <div class="col-span-1 flex justify-center py-4 px-4 bg-gray-50">
                    <img class="max-h-10" src="public/img/java.png" alt="Java">
                </div>
                <div class="col-span-1 flex justify-center py-4 px-4 bg-gray-50">
                    <img class="max-h-10" src="public/img/spring.png" alt="Spring">
                </div>
                <div class="col-span-1 flex justify-center py-4 px-4 bg-gray-50">
                    <img class="max-h-10" src="public/img/rails.png" alt="Ruby on Rails">
                </div>
                <div class="col-span-1 flex justify-center py-4 px-4 bg-gray-50">
                    <img class="max-h-10" src="public/img/terraform.png" alt="Terraform">
                </div>
                <div class="col-span-1 flex justify-center py-4 px-4 bg-gray-50">
                    <img class="max-h-10" src="public/img/kali.png" alt="Kali Linux">
                </div>
                <div class="col-span-1 flex justify-center py-4 px-4 bg-gray-50">
                    <img class="max-h-10" src="public/img/postgres.png" alt="Postgres">
                </div>
                <div class="col-span-1 flex justify-center py-4 px-4 bg-gray-50">
                    <img class="max-h-10" src="public/img/mysql.png" alt="MySQL">
                </div>
                <div class="col-span-1 flex justify-center py-4 px-4 bg-gray-50">
                    <img class="max-h-10" src="public/img/heroku.png" alt="Heroku">
                </div>
                <div class="col-span-1 flex justify-center py-4 px-4 bg-gray-50">
                    <img class="max-h-10" src="public/img/aws.png" alt="AWS">
                </div>
                <div class="col-span-1 flex justify-center py-4 px-4 bg-gray-50">
                    <img class="max-h-10" src="public/img/circleci.png" alt="CircleCI">
                </div>
                <div class="col-span-1 flex justify-center py-4 px-4 bg-gray-50">
                    <img class="max-h-10" src="public/img/jenkins.png" alt="Jenkins">
                </div>
                <div class="col-span-1 flex justify-center py-4 px-4 bg-gray-50">
                    <img class="max-h-10" src="public/img/nexus.png" alt="Nexus Repository">
                </div>
                <div class="col-span-1 flex justify-center py-4 px-4 bg-gray-50">
                    <img class="max-h-10" src="public/img/artifactory.png" alt="Nexus Repository">
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer }}
