<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cameron Cooper</title>
    <link rel="stylesheet" href="css/stylesheet.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="background">
            <div class="background-overlay">
                <div class="hero">
                    <nav>
                        <div class="links">
                            <a href="https://github.com/cameronwc"><i class="fab fa-github-square"></i></a>
                            <a href="www.linkedin.com/in/cameron-cooper-64bb9247"><i class="fab fa-linkedin"></i></a>
                        </div>
                        <div class="page-links">
                            <a href="#about">About</a>
                            <a href="resume">Resume</a>
                            <a href="#projects">Projects</a>
                            <a href="#contact" class="orange">Contact</a>
                        </div>
                    </nav>

                    <span class="caption">Hello I'm Cameron Cooper <i class="em em-wave"></i></span>

                    <h1><span class="blue">Software Engineer</span> & <span class="blue">Web Developer</span> from
                        Colorado
                    </h1>
                    <p>I thoughtfully design, expertly build, and carefully maintain secure web applications and REST
                        API's
                        that
                        are
                        a pleasure to use.</p>
                    <p>I have recently taken an interest in Machine Learning and Object Recognition</p>
                    <p>I'm currently employed at <a href="https://www.polarisalpha.com/">Polaris Alpha</a></p>
                    <p class="orange">I'm available for employement in December arrow-emoji</p>
                    <p class="handwriting">Cameron</p>
                </div>
            </div>
        </div>
        <div class="service-wrapper">
            <div class="services">
                <div class="service">
                    <h2>Rest API Development</h2>
                    <p>I create powerful REST API's that focus on making developer lives easier.</p>
                </div>
                <div class="service">
                    <h2>Web Development</h2>
                    <p>I write maintanable websites with modern languages that perform well for both clients and
                        analytics
                        teams.</p>
                </div>
                <div class="service">
                    <h2>UI/UX Design</h2>
                    <p>I create beautiful User Interfaces and User Experiences to improve the customers QOL.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/33413df287.js"></script>
</body>

</html>