<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cameron Cooper</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="img/site.webmanifest">
</head>

<body>
    {{!-- Hero --}}
    <div class="particles-container" id="hero">
        <div id="particles-js">
            <div class="background">
                <div class="background-overlay">
                    <div class="hero">
                        <nav>
                            <div class="links">
                                <a href="https://github.com/cameronwc"><i class="fab fa-github-square"></i></a>
                                <a href="www.linkedin.com/in/cameron-cooper-64bb9247"><i
                                        class="fab fa-linkedin"></i></a>
                            </div>
                            <div class="page-links">
                                <a href="#hero">About</a>
                                <a href="assets/cameron-cooper-resume.pdf">Resume</a>
                                <a href="#projects">Projects</a>
                                <a id="contact-link" href="#contact" class="orange">Contact</a>
                            </div>
                        </nav>

                        <span class="caption">Hello I'm Cameron Cooper <img class="emoji" src="img/wave.png" alt="Emoji wave"></span>

                        <h1><span class="blue">Software Engineer</span> & <span class="blue">Web Developer</span> from
                            Colorado
                        </h1>
                        <p>I thoughtfully design, expertly build, and carefully maintain secure web applications and
                            REST
                            API's
                            that
                            are
                            a pleasure to use.</p>
                        <p>I have recently taken an interest in Machine Learning and Object Recognition</p>
                        <p>I'm currently employed at <a href="https://www.polarisalpha.com/">Polaris Alpha</a></p>
                        <a href="#contact" class="orange">I'm available for employement in December <i
                                class="fas fa-arrow-right"></i></a>
                        <p class="handwriting">Cameron</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Services --}}
    <div class="spacer services-spacer" id="services">
        <div class="services">
            <div class="service">
                <img src="img/api.png" alt="Colorful API Image">
                <h2>Rest API Development</h2>
                <h4>I create powerful REST API's that focus on making developer lives easier.</h4>
                <br>
                <p class="sub-text">NodeJS, NestJS, Express, Java, Spring Boot, JWT, mySQL, postgreSQL, TDD</p>
            </div>
            <div class="service">
                <img src="img/code.png" alt="Colorful Code Image">
                <h2>Web Development</h2>
                <h4>I write maintanable websites with modern languages that perform well for both clients and
                    analytics teams.</h4>
                <p class="sub-text">HTML5, JavaScript, ES2016-2018, CSS, ReactJS, AWS</p>
            </div>
            <div class="service">
                <img src="img/ui-ux.png" alt="Colorful UI/UX Image">
                <h2>UI/UX Design</h2>
                <h4>I create beautiful User Interfaces and User Experiences to improve the customers QOL.</h4>
                <br>
                <p class="sub-text">Figma, Adobe Photoshop, Bootstrap, SemanticUI</p>
            </div>
        </div>
    </div>

    {{!-- Projects --}}
    <div class="container" id="projects">
        <div class="projects">
            <div class="flex-wrapper">
                <div class="description">
                    <h2>Featured Projects</h2>
                    <p>I work remotely or on location on exciting projects for my current company.</p>
                    <p>
                        In my free time I enjoy working for my personal company Formulated Design as well as learning
                        the
                        newest JS framework or applying that knowledge to various projects that improve my ability to
                        create.
                    </p>
                </div>
                <div class="container">
                    <div class="project-tiles">
                        <div class="row">
                            <div class="project-background pixel-helper">
                                <a href="https://pixelhelper.club">
                                    <div class="project-overlay">
                                        <div class="project">
                                            <h2>Pixel Helper</h2>
                                            <p>An opensource picture aggregator with a RESTful API.</p>
                                            <p>I developed this application an API to help myself find high quality
                                                opensource
                                                images for my clients and personal projects.</p>
                                            <p class="sub-text">
                                                ReactJS, NodeJS, ExpressJS, Heroku
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="project-background formulated">
                                <a href="https://formulated.design">
                                    <div class="project-overlay">
                                        <div class="project">
                                            <h2>Formulated Design</h2>
                                            <p>My personal LLC, through this I work with clients from all over America
                                                to
                                                create
                                                compelling web presences.</p>
                                            <br />
                                            <br />
                                            <p class="sub-text">
                                                HTML5, CSS, NodeJS, ExpressJS, SEO, AWS
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="project-background blades-brews">
                                <a href="https://bladesnbrews.com">
                                    <div class="project-overlay">
                                        <div class="project">
                                            <h2>Blades & Brews</h2>
                                            <br>
                                            <p>A website for Colorado Spring’s first Barbershop and Bar under the same
                                                roof.
                                            </p>
                                            <br />
                                            <br />
                                            <br />
                                            <p class="sub-text">
                                                HTML5, CSS, Shopify
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="project-background IPS">
                                <a href="https://whyinnovativepropertysolutions.com">
                                    <div class="project-overlay">
                                        <div class="project">
                                            <h2>Why Innovative Property Solutions</h2>
                                            <p>A lead generation page for the Jacksonville based Property Management
                                                start
                                                up.</p>
                                            <br />
                                            <br />
                                            <br>
                                            <p class="sub-text">
                                                HTML5, NodeJS, ExpressJS, SEO, Heroku
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Skills --}}
    <div class="spacer" id="skills">
        <div class="skills">
            <div class="container">
                <div class="flex-wrapper">
                    <div class="description">
                        <h2>My Skills</h2>
                        <p>Languages and technologies I know and am continuously learning.</p>
                        <p>I love experimenting with the newest framework and discovering what I can make with it.</p>
                    </div>
                    <div class="container">
                        <div class="row">
                            <img src="img/nodejs.png" alt="Node JS" class="logo">
                            <img src="img/HTML5.png" alt="HTML5 Logo" class="logo">
                            <img src="img/JS-Logo.png" alt="JavaScript logo" class="logo">
                            <img src="img/css-3-logo.png" alt="CSS Logo" class="logo">
                            <img src="img/ts.png" alt="TypeScript Logo" class="logo">
                        </div>
                        <div class="row">
                            <img src="img/java.png" alt="Java Logo" class="logo">
                            <img src="img/nest.png" alt="NestJS Logo" class="logo">
                            <img src="img/python.png" alt="Python Logo" class="logo">
                            <img src="img/react.png" alt="React Logo" class="logo">
                        </div>
                        <div class="row">
                            <img src="img/postgres.png" alt="Postgres Logo" class="logo">
                            <img src="img/mysql.png" alt="MySQL Logo" class="logo">
                            <img src="img/aws.png" alt="AWS Logo" class="logo">
                            <img src="img/opencv.png" alt="OpenCV Logo" class="logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Contact --}}
    <div class="contact" id="contact">
        <div class="container contact-flex">
            <div class="item">
                <h2>Contact Me</h2>
                <p>
                    <i class="fas fa-phone-alt"></i>
                    <a href="tel:7199008036">1-719-900-8036</a>
                </p>
                <p>
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:cameron.w.cooper@gmail.com">cameron.w.cooper@gmail.com</a>
                </p>
                <p>
                    <i class="fas fa-file-pdf"></i>
                    <a href="assets/cameron-cooper-resume.pdf">Resume</a>
                </p>
            </div>
            <div class="item">
                <p>I am available for new oppurtunies in December 2019</p>
                <p>If you would like to discuss the current state of the industry, freelance jobs, or permanent
                    positions feel free to give me a call or send an email.</p>
            </div>
        </div>
    </div>

    {{!-- <script src="https://kit.fontawesome.com/33413df287.js"></script> --}}
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="js/particles.js"></script>
</body>

</html>