<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css">
    <title>Document</title>
</head>

<body>

    <div class="hero">
        <div class="ui container">
            <div class="ui secondary menu">
                <div class="left menu">
                    <div class="item">
                        <a href="https://github.com/cameronwc">
                            <i class="github icon"></i>
                        </a>
                    </div>
                    <div class="item">
                        <a href="https://www.linkedin.com/in/cameron-cooper-64bb9247">
                            <i class="linkedin icon"></i>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/CameronCooper_Portfolio.pdf">
                            <i class="file pdf outline icon"></i>
                        </a>
                    </div>
                </div>
                <div class="right menu">
                    <div class="item">
                        Home
                    </div>
                    <div class="item">
                        Work
                    </div>
                    <div class="item">
                        About
                    </div>
                    <div class="item">
                        Contact
                    </div>
                </div>
            </div>
            <h1 class="hero_title">I build websites that turn your traffic into customers</h1>
            <p>Together, we'll build a compelling web presence for your business that your customers simply cannot resist.</p>

            <button class="ui inverted button">Get in Touch</button>
            <button class="ui inverted button">See my Work</button>
        </div>
    </div>

    <div>
        <div class="featured_study">
            <div class="ui grid">
                <div class="ten wide column">
                    <img src="img/agilify.png" alt="" class="ui image">
                </div>
                <div class="six wide column featured_content">
                    <h1>Agilify Training</h1>
                    <p>I worked very closely with Agilify Training to create a website that showcases how easy it is to learn
                        Agile with Agilify Training.</p>
                    <div align="center">
                        <button class="ui inverted blue button">View Case Study</button>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div class="process">
        <div class="ui container">
            <div class="ui grid">
                <div class="eight wide column">
                    <h1>
                        <i class="map outline icon"></i>Discovery</h1>
                    <p>I'll immerse myself in your business to get a detailed understanding of the context surrounding your
                        project.
                    </p>
                    <h1>
                        <i class="paint brush icon"></i>Design</h1>
                    <p>I'll design your site, and get it in front of real people to ensure that the experience is simple and
                        user-friendly.
                    </p>
                    <h1>
                        <i class="file code outline icon"></i>Development</h1>
                    <p>I'll build and test your site on most modern web and mobile browsers, then deploy it for you.</p>

                </div>
                <div class="eight wide column">
                    <img class="ui image" src="http://www.adidas-ultraboostuncaged.us/wp-content/uploads/2018/06/whiteboard-White-Board-Decoration-Ideas-design-ideas-other-photos-to-cool-home-rhbwchartcom-my-classroom-tied-up-with-stringrhtiedupwstringwordpresscom-my-White-Board.jpg"
                        alt="">
                </div>
            </div>

            <div align="center" class="view_more">
                <a href="/portfolio">
                    <i class="angle right icon"></i>
                    <p>View Full Portfolio</p>
                </a>
            </div>
        </div>
    </div>

    <div class="gray_container">
        <div class="testimonials">
            <div class="ui container">
                <div class="ui grid">
                    <div class="eight wide column">
                        <div class="ui segment">
                            <p>Cameron did a wonderful job on a challenging project. He was always available when needed.</p>
                            <div class="ui relaxed list">
                                <div class="item">
                                    <i class="large github middle aligned icon"></i>
                                    <div class="content">
                                        <a class="header">Advantage Systems Interactive</a>
                                        <div class="description">Jessica Hill</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="eight wide column">
                        <div class="ui segment">
                            <p>Cameron was very fast, thorough, and professional. I will definitely hire him again!</p>
                            <div class="ui relaxed list">
                                <div class="item">
                                    <i class="large github middle aligned icon"></i>
                                    <div class="content">
                                        <a class="header">Agilify Training</a>
                                        <div class="description">Stacey Ackerman</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="eight wide column">
                        <div class="ui segment">
                            <p>Cameron was great at communicating and tailoring to my needs. He was willing to collaborate with
                                me and provide input into the design of the website from a developers perspective (which
                                is what I needed). He is easy to work with and flexible. He has proved to be very skilled
                                and proficient in web development on the front and back end.</p>
                            <div class="ui relaxed list">
                                <div class="item">
                                    <i class="large github middle aligned icon"></i>
                                    <div class="content">
                                        <a class="header">Sign Companies</a>
                                        <div class="description">Andrew Menard</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="eight wide column">
                        <div class="ui segment">
                            <p>Other testimonial</p>
                            <div class="ui relaxed list">
                                <div class="item">
                                    <i class="large github middle aligned icon"></i>
                                    <div class="content">
                                        <a class="header">Sign Companies</a>
                                        <div class="description">Andrew Menard</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cta_container">
        <div class="cta">
            <div class="ui grid">
                <div class="eleven wide column">
                    <div class="cta_content">
                        <h1>I'm
                            <span class="availability">available</span> for new projects starting September 15th.</h1>
                        <p>I've been told that I blow expectations out of the water — I'll try to be more careful with yours,
                            but I can't make any promises.</p>
                        <br>
                        <button class="ui huge teal button">Lets do this</button>
                    </div>
                </div>
                <div class="five wide column">
                    <img class="ui image" src="img/professional_man.jpg" alt="">
                </div>
            </div>

        </div>
    </div>
    <div class="gray_container">
        <footer class="footer">
            <div class="ui container">
                <div class="ui centered grid">
                    <div class="eight wide column">
                        <h3>company</h3>
                        <div class="ui list">
                            <div class="item">
                                story
                            </div>
                            <div class="item">
                                process
                            </div>
                            <div class="item">
                                portfolio
                            </div>
                            <div class="item">
                                testimonials
                            </div>
                            <div class="item">
                                contact
                            </div>
                        </div>
                    </div>
                    <div class="eight wide column">
                        <h3>get in touch</h3>
                        <div class="ui list">
                            <div class="item">
                                <a href="tel:7199008036">
                                    <i class="phone icon"></i>
                                    +1(719)-900-8036
                                </a>
                            </div>
                            <div class="item">
                                <a href="mailto:cameron.w.cooper@gmail.com">
                                    <i class="mail icon"></i>
                                    cameron.w.cooper@gmail.com
                                </a>
                            </div>
                            <div class="item">
                                <a href="https://github.com/cameronwc">
                                    <i class="github icon"></i>
                                    github
                                </a>
                            </div>
                            <div class="item">
                                <a href="https://www.linkedin.com/in/cameron-cooper-64bb9247">
                                    <i class="linkedin icon"></i>
                                    linkedin
                                </a>
                            </div>
                            <div class="item">
                                <a href="/CameronCooper_Portfolio.pdf">
                                    <i class="file pdf outline icon"></i>
                                    resume
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>