<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cameron Cooper</title>
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/animiations.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>

<body>
    <div class="far-background">
        <div class="background">
            <div class="background-overlay">
                <div class="hero">
                    <nav>
                        <div class="links">
                            <a href="https://github.com/cameronwc"><i class="fab fa-github-square"></i></a>
                            <a href="www.linkedin.com/in/cameron-cooper-64bb9247"><i class="fab fa-linkedin"></i></a>
                        </div>
                        <div class="page-links">
                            <a href="#about">About</a>
                            <a href="resume">Resume</a>
                            <a href="#projects">Projects</a>
                            <a href="#contact" class="orange">Contact</a>
                        </div>
                    </nav>

                    <span class="caption">Hello I'm Cameron Cooper <i class="em em-wave"></i></span>

                    <h1><span class="blue">Software Engineer</span> & <span class="blue">Web Developer</span> from
                        Colorado
                    </h1>
                    <p>I thoughtfully design, expertly build, and carefully maintain secure web applications and REST
                        API's
                        that
                        are
                        a pleasure to use.</p>
                    <p>I have recently taken an interest in Machine Learning and Object Recognition</p>
                    <p>I'm currently employed at <a href="https://www.polarisalpha.com/">Polaris Alpha</a></p>
                    <p class="orange">I'm available for employement in December arrow-emoji</p>
                    <p class="handwriting">Cameron</p>
                </div>
            </div>
        </div>
    </div>

    <div class="spacer">
        <div class="services">
            <div class="service">
                <img src="img/api.png" alt="Colorful API Image">
                <h2>Rest API Development</h2>
                <h4>I create powerful REST API's that focus on making developer lives easier.</h4>
                <br>
                <p class="sub-text">NodeJS, NestJS, Express, Java, Spring Boot, JWT, mySQL, postgreSQL, TDD</p>
            </div>
            <div class="service">
                <img src="img/code.png" alt="Colorful Code Image">
                <h2>Web Development</h2>
                <h4>I write maintanable websites with modern languages that perform well for both clients and
                    analytics teams.</h4>
                <p class="sub-text">HTML5, JavaScript, ES2016-2018, CSS, ReactJS, AWS</p>
            </div>
            <div class="service">
                <img src="img/ui-ux.png" alt="Colorful UI/UX Image">
                <h2>UI/UX Design</h2>
                <h4>I create beautiful User Interfaces and User Experiences to improve the customers QOL.</h4>
                <br>
                <p class="sub-text">Figma, Adobe Photoshop, Bootstrap, SemanticUI</p>
            </div>
        </div>
    </div>
    <div class="services-wrapper">
    </div>

    <div class="container">
        <div class="projects">
            <div class="flex-wrapper">
                <div class="description">
                    <h2>Featured Projects</h2>
                    <p>I work remotely or on location on exciting projects for my current company.</p>
                    <p>
                        In my free time I enjoy working for my personal company Formulated Design as well as learning
                        the
                        newest JS framework or applying that knowledge to various projects that improve my ability to
                        create.
                    </p>
                </div>
                <div class="container">
                    <div class="project-tiles">
                        <div class="row">
                            <div class="project-background pixel-helper">
                                <div class="project-overlay">
                                    <div class="project">
                                        <h2>Pixel Helper</h2>
                                        <p>An opensource picture aggregator with a RESTful API.</p>
                                        <p>I developed this application an API to help myself find high quality
                                            opensource
                                            images for my clients and personal projects.</p>
                                        <p class="sub-text">
                                            ReactJS, NodeJS, ExpressJS, Heroku
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="project-background formulated">
                                <div class="project-overlay">
                                    <div class="project">
                                        <h2>Formulated Design</h2>
                                        <p>My personal LLC, through this I work with clients from all over America to
                                            create
                                            compelling web presences.</p>
                                        <br />
                                        <br />
                                        <p class="sub-text">
                                            HTML5, CSS, NodeJS, ExpressJS, SEO, AWS
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="project-background blades-brews">
                                <div class="project-overlay">
                                    <div class="project">
                                        <h2>Blades & Brews</h2>
                                        <br>
                                        <p>A website for Colorado Spring’s first Barbershop and Bar under the same roof.
                                        </p>
                                        <br />
                                        <br />
                                        <br />
                                        <p class="sub-text">
                                            HTML5, CSS, Shopify
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="project-background IPS">
                                <div class="project-overlay">
                                    <div class="project">
                                        <h2>Why Innovative Property Solutions</h2>
                                        <p>A lead generation page for the Jacksonville based Property Management start
                                            up.</p>
                                        <br />
                                        <br />
                                        <br>
                                        <p class="sub-text">
                                            HTML5, NodeJS, ExpressJS, SEO, Heroku
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://kit.fontawesome.com/33413df287.js"></script>
</body>

</html>