<!DOCTYPE html>
<html>

<head>
    <title>Textbookswap</title>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="GNILY7OjVskBUD5vmUEZdwsffv7Zd0hnv1UkT+xv7OLXHI+DhSmrNaOKMBiMg2iFunosphQ9glH57Z+QBivUGw=="
    />

    <link rel="stylesheet" href="/textbook.css">
    <link rel="stylesheet" media="all" href="/assets/application-4f29fee40d4712d0e280e9ecc0861e1fed24a34d702bfe4381f69ba4e0eef513.css"
        data-turbolinks-track="reload" />
    <script src="/assets/application-19f7aded4e7e773e7aaded6553cd10f08d882d38782ae6c1ab7bd9d20d8bd39b.js" data-turbolinks-track="reload"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css" rel="stylesheet">
</head>

<body>
    <div id="home">
        <div class="ui container">
            <div class="ui secondary menu">
                <div class="left menu">
                    <div class="active item">
                        Home
                    </div>
                    <div class="item">
                        Dashboard
                    </div>
                    <div class="item">
                        Sell an item
                    </div>
                </div>
            </div>

            <div align="center">
                <h1 class="logo">Textbook Swap</h1>
            </div>

            <div align="center">
                <div class="search_container">
                    <div class="ui grid">
                        <div class="four wide column">
                            <div class="search_category">
                                <i class="book icon"></i>
                                <br>
                                Buy Books
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="search_category">
                                <i class="book icon"></i>
                                <br>
                                Sell Books
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="search_category">
                                <i class="book icon"></i>
                                <br>
                                Trade Books
                            </div>
                        </div>
                        <div class="four wide column">
                        </div>
                    </div>
                    <h2>Search for a textbook...</h2>
                    <form action="">
                        <div class="ui fluid icon input">
                            <i class="orange search icon"></i>
                            <input type="text" placeholder="University Physics Ed. 13s">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="ui container">
        <div class="ui grid">
            <div class="eight wide column">
                <div class="left box">
                    <h6>CHEGG STUDY</h6>
                    <h2>When homework gets tough, get tougher</h2>
                    <h3>BOOST YOUR GRADE >></h3>
                </div>
            </div>
            <div class="eight wide column">
                <div class="right box">
                    <h6>CHEGG TEXTBOOKS</h6>
                    <h2>Because full price = overpriced</h2>
                    <h3>RENT & SAVE >></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="advert">
        <div class="ui container">
            <div class="ui grid">
                <div class="eight wide column">
                    <h2>Boost your grades</h2>
                    <p>End the stress headache. From SAT prep, to essays & problem sets
                        <br> get help from tutors & textbook solutions
                    </p>
                    <a href="#" class="cta">GET HOMEWORK HELP ></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>