/* Fonts */

.handwriting {
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
}

/* End Fonts */

/* Global */

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* End Global */

/* Colors */

:root {
    --blue: #49B1BC;
    --orange: #18393D;
    --off-white: #F5F3F3;
    --light-grey: #c2c2c2;
    --grey: #4D6A6D;
}

.blue {
    color: var(--blue);
}

.orange, #contact-link {
    color: var(--orange);
}

/* End Colors */

.background {
    background-image: url("/img/headshot.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 40%;
    z-index: 5;
}

.background-overlay {
    background-color: rgba(73, 177, 188, 0.6);
}

.hero {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10%;
    z-index: 0;
}

.hero .blue {
    color: var(--orange);
}

.hero a {
    color: var(--orange);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8%;
}

nav * {
    padding-left: 8px;
    padding-right: 8px;
}

.page-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.page-links a {
    text-decoration: none;
    color: white;
}

.page-links a:hover {
    color: var(--orange);
}

.caption {
    background-color: var(--blue);
    padding: 8px;
    position: relative;
}

.caption::after {
    content: " ";
    position: absolute;
    bottom: -40%;
    right: 20px;
    border-style: solid;
    border-width: 0 16px 16px 16px;
    border-color: transparent var(--blue) transparent transparent;
    z-index: -10;
}

/* Icons */

.fab {
    font-size: 2em;
    color: var(--orange) !important;
}

.fab:hover {
    color: white !important;
}

.emoji {
    width: 24px;
    height: 24px;
    transform: translateY(5px);
}

/* End Icons */

/* Services */

.spacer {
    background-color: var(--off-white);
    min-height: 300px;
    position: relative;
    z-index: 10;
}

.services {
    position: absolute;
    top: -50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    animation: 1s ease-out 0s 1 slideUp;
}

@keyframes slideUp {
    0% {
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, 60%);
        transform: translate(-50%, 60%);
    }
    50% {
        opacity: 0;
    }
    100% {
        left: 50%;
        opacity: 1;
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }
}

.service {
    color: black;
    background-color: white;
    z-index: 10;
    width: 350px;
    margin: 16px;
    padding: 16px;
    min-height: 300px;
    background: #FFFFFF;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    position: relative;
}

.service .sub-text {
    position: absolute;
    bottom: 5%;
}

.sub-text {
    color: var(--light-grey);
}

.project .sub-text {
    position: absolute;
    bottom: 10%;
}

/* End Services */

/* Projects */

.flex-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.projects {
    padding-top: 5%;
    padding-bottom: 5%;
}

.projects .description {
    color: black;
    width: 33.33%;
}

.projects .container {
    width: 66.66%;
}

.project-tiles {
    color: white;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project-background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 16px;
    border-radius: 3px;
    min-height: 300px;
    transition: all .1s linear;
}

.project-background:hover {
    transform: scale(.95);
}

.project-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
}

.project-tiles a{
    color: white;
    text-decoration: none;
}

.project {
    width: 100%;
    height: 100%;
    width: 400px;
    padding: 16px;
    position: relative;
}

.project p {
    text-shadow: 0px 0px 5px #000000;
}

.pixel-helper {
    background-image: url('/img/pixelhelper.png');
}

.formulated {
    background-image: url('/img/agile.png');
}

.blades-brews {
    background-image: url('/img/barber.png')
}

.IPS {
    background-image: url('/img/IPS.png')
}

/* End Projects */

/* Skills */

.skills {
    color: black;
    padding: 5% 0%;
}

.skills .row {
    padding-top: 8px;
    padding-bottom: 8px;
}

.logo {
    max-height: 115px;
    height: 100%;
    padding: 4px;
}

/* End Skills */

/* Contact */

.contact {
    background-color: var(--grey);
    padding: 0px 8px;
}

.contact-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact a {
    color: white;
    text-decoration: none;
}

.contact a:hover {
    color: var(--blue);
}

.contact .item {
    max-width: 50%;
}

/* End Contact */

/* Responsive */

@media (max-width: 1300px) {
    .projects .flex-wrapper {
        flex-direction: column;
    }

    .projects .description {
        width: 80% !important;
    }

    .projects .description {
        width: 60%;
        margin: 0 auto;
    }
}


/* End Responsive */

/* Animations start */

a:hover {
    -webkit-transition: color 0.2s !important; /* Safari prior 6.1 */
    transition: color 0.2s !important;
}

.hero p a:hover, .hero a.orange:hover {
    color: white;
}

/* End Animations */

/* ParticlesJS */

/* ---- particles.js container ---- */

#particles-js canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0%;
    background-color: rgba(73, 177, 188, 0.6);
    /* max-height: 65vh; */
}

.particles-container {
    position: relative;
    z-index: 0;
}

/* End ParticlesJS */

/* Tablet Responsive */

@media only screen and (min-width: 560px) and (max-width: 1367px) {
    .description {
        width: 15% !important;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1367px) {
    .service {
        width: 350px !important;
    }
}

@media only screen and (max-width: 939px) {
    .service {
        width: 80%;
        margin: 5% auto;
    }
    .services {
        position: relative;
        flex-direction: column;
        top: 0%;
    }

    .services-spacer {
        min-height: 100%;
    }

}

@media only screen and (min-width: 940px) and (max-width: 1221px){
    .service {
        width: 80% !important;
    }

    .services {
     width: 90%;   
    }
}

/* End Tablet Responsive */

/* Phone Responsive */

@media only screen and (min-device-width: 320px) and (max-device-width: 560px) {
    .background {
        background-position: right bottom;
        background-size: 50%;
    }

    .projects .description {
        width: 95%;
    }

    .projects .row {
        flex-direction: column;
    }

    .projects .container {
        width: 100%;
    }

    .project {
        min-width: unset;
        max-width: 95%;
    }

    .project-background {
        margin: 0 0 8px 0;
    }

    .skills .flex-wrapper {
        flex-direction: column;
    }
    
    .skills .container, .contact .container {
        width: 90%;
    }

    .contact-flex {
        flex-direction: column;
    }

    .contact .item {
        max-width: 100%;
    }
}

/* End Phone Responsive */

/* Responsive Menu */
@media only screen and (max-device-width: 565px) {
    nav {
        justify-content: space-around;
    }

    nav .links {
        order: 2;
        width: 100%;
    }

    nav .page-links {
        order: 1;
        flex-direction: row !important;
    }
}

/* End Responsive Menu */

/* Desktop Responsiveness */

@media only screen and (min-width: 1920px) {
    .background {
        background-size: 25%;
    }
}

/* End Desktop Responsiveness */