@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

:root {
  --light-orange: rgb(244, 107, 69);
  --light-yellow: rgb(238, 168, 73);
}

body {
  overflow-x: hidden;
}

body p {
  line-height: 1.8;
  font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

footer a, .menu a {
  color: #FFFFFF;
}

footer a:hover, .menu a:hover {
  color: lightgray;
}

.quote.icon {
  color: var(--light-yellow);
  font-size: 1.5em;
}

.menu i {
  color: white;
  font-size: 2em !important;
}

.menu i:hover {
  color: var(--light-yellow);
}

.menu > .item {
  color: white !important;
}

.hero {
  color: white;
  background-image: radial-gradient(circle at bottom left, rgba(244, 107, 69, 0.9), rgba(238, 168, 73, 0.3)), url('img/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(
    0 0,
    /* left top */ 100% 0,
    /* right top */ 100% 85%,
    /* right bottom */ 0 100% /* left bottom */
  );
  z-index: 1;
  padding-bottom: 5%;
}

.hero_content {
  margin-top: 10%;
}

/* .featured_study {
  position: absolute;
  left: 25%;
  /* top: 50%; */
  /*
  top: 15%;
  z-index: 10;
  background-color: white;
  width: 50%;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
} */

.featured_study {
  position: absolute;
  left: 25%;
  /* top: 50%; */
  top: 13%;
  z-index: 10;
  background-color: white;
  width: 50%;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
}

.case_study_link {
  margin-top: 5%;
}

.featured_study img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 100%;
  object-fit: cover;
}

.featured_content {
  padding-top: 3% !important;
  padding-right: 3% !important;
}

.featured_content > h1 {
  color: var(--light-blue-1);
}

.process {
  -webkit-clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(
    0 0%, /* left top */
    100% 0%, /* right top */
    100% 100%, /* right bottom */
    0 100% /* left bottom */
  );
  padding-top: 15%;
  padding-bottom: 2%;
  z-index: 0;
}

.process h1 {
  color: var(--light-orange);
}

.process .icon {
  color: var(--light-orange);
}

.testimonials h2 {
  color: var(--light-orange);
}

.testimonials span {
  color: var(--light-orange);
}

.testimonials {
  padding-top: 5%;
  background-color: #F7F7F7;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(
    0 0%,
    /* left top */ 100% 0%,
    /* right top */ 100% 100%,
    /* right bottom */ 0 100% /* left bottom */
  );
  padding-bottom: 5%;
  z-index: 1;
}

.testimonials p {
  min-height: 170px;
}

.gray_container {
  background-color: #F7F7F7;
}

.diag_gray_spacer {
  background-color: #f7f7f7;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(
    0 100%,
    /* left top */ 100% 0%,
    /* right top */ 100% 100%,
    /* right bottom */ 0 100% /* left bottom */
  );
  height: 100px;
}

.footer {
  z-index: 1;
  padding-top: 15%;
  padding-bottom: 5%;
  background-image: radial-gradient(circle at top left, rgba(244, 107, 69), rgba(238, 168, 73));
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
  clip-path: polygon(
    0 0,
    /* left top */ 100% 20%,
    /* right top */ 100% 100%,
    /* right bottom */ 0 100% /* left bottom */
  );
  color: #FFFFFF;
}

.cta_container {
  background-color: #f7f7f7;
}

.cta {
  z-index: 10;
  position: absolute;
  left: 30%;
  background-color: white;
  width: 40%;
  border-radius: 15px;
}

.cta img {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100%;
  object-fit: cover;
}

.cta_content {
  padding: 2%;
}

.availability {
  color: var(--light-yellow);
}

.testimonials .segment {
  border-radius: 15px !important;
}

.types {
  padding-top: 15%;
}

body,
html {
  padding: 0 !important;
  margin: 0 !important;
}

.button {
  border-radius: 15px !important;
}

.view_more {
  padding-top: 3%;
  color: var(--light-orange);
  font-size: 1.75em;
}

.view_more i {
  font-size: 2em! important;
}

.connect i {
  font-size: 1.75em !important;
}

.hero_title {
  margin-top: 10%;
}

@media only screen and (min-width: 768px) {
  .toc.item {
    display: none !important;
  }
}
@media only screen and (min-width: 1500px){
  .featured_study {
    top: 15%;
  }
}

/* MOBILE */
@media only screen and (min-width: 1366px){
  /* .cta {
    width: 60%;
    left: 20%;
  } */
  .footer {
    padding-top: 20%;
  }
  .process {
    padding-top: 18%;
  }
} 

@media only screen and (min-width: 1000px) and (max-width: 1366px) {
  .hero{
    padding-bottom: 10%;
  }
  .cta {
    width: 60%;
    left: 20%;
  }
  .featured_study {
    top: 16%;
    left: 10%;
    width: 80%;
  }
  .footer {
    padding-top: 25%;
  }
  .types {
    padding-top: 22%;
  }
}

@media only screen and (min-width: 766px) and (max-width: 1000px) {
  .hero{
    height: 70%;
    padding-bottom: 12%;
  }
  .cta {
    width: 80%;
    left: 10%;
  }
  .featured_study {
    top: 16%;
    width: 80%;
    left: 10%;
  }
  .footer {
    padding-top: 31%;
  }
  .types {
    padding-top: 30%;
  }
}

@media only screen and (min-width: 530px) and (max-width: 766px) {
  .hero {
    padding-bottom: 15%;
  }

  .featured_study {
    top: 10%;
    width: 98%;
    left: 1%;
  }

  .cta {
    width: 90%;
    left: 5%;
  }

  .types {
    padding-top: 100%;
  }

  .toc.item {
    display: block;
  }

  .hero .left.menu, .hero .right.menu {
    display: none !important;
  }

  .footer {
    padding-top: 50%;
  }
}

@media only screen and (min-width: 375px) and (max-width: 420px){
  .footer {
    padding-top: 110% !important;
  }
}

@media only screen and (min-width: 330px) and (max-width: 530px){
  .hero {
    padding-bottom: 15%;
  }

  .featured_study {
    top: 10%;
    width: 98%;
    left: 1%;
  }

  .cta {
    width: 90%;
    left: 5%;
  }

  .types {
    padding-top: 130%;
  }

  .toc.item {
    display: block;
  }

  .hero .left.menu, .hero .right.menu {
    display: none !important;
  }

  .footer{
    padding-top: 80%;
  }
}

@media only screen and (min-width: 10px) and (max-width: 330px) {
  .hero {
    padding-bottom: 15%;
  }

  .featured_study {
    top: 10%;
    width: 98%;
    left: 1%;
  }

  .cta {
    width: 90%;
    left: 5%;
  }

  .types {
    padding-top: 135%;
  }

  .toc.item {
    display: block;
  }

  .hero .left.menu, .hero .right.menu {
    display: none !important;
  }

  .footer {
    padding-top: 160%;
  }
}