@import url("https://fonts.googleapis.com/css?family=Lobster");
body{
    color:white !important
}
#home{
    height:40%;
    background-image: url('img/textbookswap.png');
    background-position: bottom;
    background-size: cover;
    border-bottom:3px #f12711
}
.search_container{
    margin-top:5%;
    background-color:rgba(0,0,0,0.7);
    border-radius:10px;
    width:65%;
    padding:25px
}
.logo{
    font-size:3em;
    font-family:'Lobster', cursive
}
.search_container h2{
    text-align:left
}
.item{
    color:white !important
}
.left.box{
    background-color:#f5af19;
    color:black
}
.right.box{
    background-color:#f12711
}
.left.box,.right.box{
    margin-top:10px;
    margin-bottom:10px;
    padding:10px;
    border-radius:10px
}
.advert{
    height:40%;
    background-image:url("https://c.cheggcdn.com/assets/site/images/img-sohp-study-1280-v01-min.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover
}
 
.search_category i {
    font-size: 3em !important;
    color: #f5af19;
}
.search_category {
    border-right: 1px solid white;
}